<%- include("header"); -%>
  <body>
    <div id="heading">
        <h1><%= headingText %></h1>
    </div>
    
    <div class="box">
        <% for (let i=0; i<listItems.length; i++){ %>
          <form action="/delete" method="POST">
            <div class="item">
              <input type="checkbox" name="checkbox" value="<%= listItems[i]._id %>" onChange="this.form.submit()">
              <p><%= listItems[i].name %></p>
            </div>    
          </form>  
        <% } %>

        <form class="item" action="/" method="post" autocomplete="off">
            <input type="text" name="itemInput" placeholder="Enter item.." />
            <button type="submit" name="list" value=<%= headingText %>>+</button>
        </form>
    </div>   
  </body>

<%- include("footer"); -%>